<section th:insert="componentes/plantilla :: plantilla">
    <title th:fragment="titulo">Nueva Venta</title>
    <div class="container" th:fragment="content">
        <div class="container">
            <h1 class="text-center mt-2" style="color: black"><strong>Nueva Venta</strong></h1>

            <div class="form-group row" style="margin-left: 25%;">
                <div class="form-group row" style="margin-left: 5%;">
                    <label for="inputName" class="col-form-label" style="color: black;"><strong>Tipo Venta: </strong>
                    </label>
                    <div class="ml-2 mr-2">
                        <select id="tipoVenta" class="form-control">
                            <option value="CF">Consumidor Final</option>
                        </select>
                    </div>
                </div>

                <div class="form-group row" style="margin-left: 5%;">
                    <label for="inputName" class="col-form-label" style="color: black;"><strong>N° Factura:</strong>
                    </label>
                    <div class="col-sm-5">
                        <input type="number" min="00001" class="form-control" name="numeroFactura" id="numeroFactura"
                            placeholder="">
                    </div>
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="producto" readonly="readonly" placeholder="Producto">
                </div>
                <button type="button" id="buscarProducto" class="btn btn-primary">
                    <i class="fas fa-search-plus"></i> Buscar
                </button>
            </div>
            <div class="form-group row" style="margin-left: 25%;">
                <div class="col-sm-7">
                    <input type="text" class="form-control" name="cliente" id="cliente" placeholder="Cliente"
                        readonly="readonly">
                </div>

                <button id="boton" type="button" class="btn btn-primary" data-toggle="modal"
                    data-target="#ModalClientes">
                    <i class="fas fa-search-plus"></i> Buscar
                </button>

            </div>
            <hr>
            <h3 class="text-center" style="color: black"><strong>Detalles de la venta</strong></h3>
            <div class="form-group row">
                <div class="col-sm-2">
                    <input type="number" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad"
                        min="1">
                </div>

                <div class="col-sm-2">
                    <input type="number" class="form-control" name="descuento" id="descuento" placeholder="Descuento %"
                        readonly="readonly" min="0.00" max="100">
                </div>
                <div class="col-sm-5">
                    <input type="text" class="form-control" name="producto" id="producto" readonly="readonly"
                        placeholder="Producto">
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalProducto">
                    <i class="fas fa-search-plus"></i> Buscar
                </button>
                <button name="agregarDetalle" id="agregarDetalle" class="btn btn-success ml-1 " type="button">
                    <i class="fas fa-plus"></i> Agregar
                </button>
            </div>

            <table class="table border border-dark" style="color: black; text-align: center;" id="tabla">
                <thead class="bg-gradient-primary" style="color: white;">
                    <tr>
                        <th>
                            CANTIDAD
                        </th>
                        <th>
                            PRODUCTO
                        </th>
                        <th>
                            PRECIO
                        </th>
                        <th>
                            DESCUENTO
                        </th>
                        <th>
                            SUB-TOTAL
                        </th>
                        <th>
                            OPERACION
                        </th>
                    </tr>

                </thead>
                <tbody style="color: black;" id="tDetalles">

                </tbody>
            </table>

            <div style="margin-left: 133px;">
                <label style="margin-left: 720px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">Sub-total :</h5>
                </label>
                <div style="margin-left: 830px; margin-top:-45px;" class="col-sm-2">
                    <input type="text" class="form-control" name="totalVenta" id="Subtotal" readonly="readonly">
                </div>

                <label style="margin-left: 740px; margin-top: 14px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">IVA:</h5>
                </label>
                <div style="margin-left: 830px; margin-top:-45px;" class="col-sm-2">
                    <input type="text" class="form-control" name="totalVenta" id="iva" readonly="readonly">
                </div>

                <label style="margin-left: 710px;  margin-top: 14px;" for="inputName" class="col-sm-2 col-form-label">
                    <h5 style="color: black;">Total venta:</h5>
                </label>
                <div style="margin-left: 730px;margin-top:-45px;" class="col-sm-2">
                    <input style="margin-left: 76%;" type="text" class="form-control" name="totalVenta" id="totalVenta"
                        readonly="readonly">
                </div>

            </div>
            <div class="text-center form-group mt-4">
                <button type="button" class="btn btn-success" id="guardarVenta">
                    <i class="fas fa-save"></i> Guardar
                </button>
                <a name="cancelar" id="cancelar" class="btn btn-danger" th:href="@{/venta/index}" role="button"><i
                        class="fas fa-window-close"></i> Cancelar</a>
            </div>

            <!--  Modal Para seleccionar producto-->
            <!-- The Modal -->
            <div class="modal fade" id="ModalClientes">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content" style="margin-left: 150px;">

                        <!-- Modal Header -->
                        <div class="container">
                            <div class="modal-header">
                                <h4 class="modal-title">Listado de clientes</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <table class="table border border-dark" id="tablaClientes"
                                    style="color: white; text-align: center;">
                                    <thead class="bg-gradient-primary" style="color: white;">
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                NOMBRE
                                            </th>
                                            <th>
                                                DIRECCION
                                            </th>
                                            <th>
                                                DUI
                                            </th>
                                            <th>
                                                NIT
                                            </th>
                                            <th>
                                                NCR
                                            </th>
                                            <!-- <th>
                                                <h5>NIT</h5>
                                            </th> -->
                                            <th>
                                                GIRO
                                            </th>
                                            <th>
                                                TELEFONO
                                            </th>
                                            <th>
                                                OPERACION
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="color: black;">

                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>

            <!--  Modal Para seleccionar producto-->
            <!-- The Modal -->
            <div class="modal fade" id="ModalProducto">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content" style="margin-left: 150px;">

                        <!-- Modal Header -->
                        <div class="container">
                            <div class="modal-header">
                                <h4 class="modal-title">Listado de productos</h4>
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body">
                                <table class="table border border-dark" id="tablaProductos"
                                    style="color: white; text-align: center;">
                                    <thead class="bg-gradient-primary" style="color: white;">
                                        <tr>
                                            <th>
                                                ID
                                            </th>
                                            <th>
                                                CODIGO
                                            </th>
                                            <th>
                                                NOMBRE
                                            </th>
                                            <th>
                                                PRESENTACION
                                            </th>
                                            <th>
                                                EXISTENCIA
                                            </th>
                                            <th>
                                                CATEGORIA
                                            </th>
                                            <th>
                                                MARCA
                                            </th>
                                            <th>
                                                PRECIO
                                            </th>
                                            <th>
                                                DESCUENTO
                                            </th>
                                            <th>
                                                OPERACION
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="color: black;">
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" th:src="@{/ajax/venta.js}"></script>

    </div>
</section>