<!-- ROL Update and Save -->
<!-- modal-dialog-centered CENTRAL MODAL -->
<div th:fragment="Update" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary">
         <h4 class="modal-title tituloModal" style="color: white;"></h4>
         <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         <form id="formUpdate" onsubmit="actualizar(event);">
            <label> Nombre: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="hidden" id="id">
               <input type="text" id="username" class="form-control border-left-0" placeholder="* Campo requerido"
                  required>

            </div>
            <label> Direccion: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="direccion" class="form-control border-left-0"
                  placeholder="* Campo requerido" required>
            </div>
            <label> Departamento: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="departamento" class="form-control border-left-0"
                  placeholder="* Campo requerido" required>
            </div>
            <label> Dui: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="dui" class="form-control border-left-0" placeholder="* Campo requerido"
                  required>
            </div>
            <label> Giro: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="giro" class="form-control border-left-0" placeholder="* Campo requerido"
                  required>
            </div>
            <label> Nit: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="nit" class="form-control border-left-0" placeholder="* Campo requerido"
                  required>
            </div>
            <label> Nrc: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="nrc" class="form-control border-left-0" placeholder="* Campo requerido"
                  required>
            </div>
            <label> Telefono: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="telefono" class="form-control border-left-0" placeholder="* Campo requerido"
                  required>
            </div>
            <hr>
            <div class="form-group text-right">
               <button type="submit" class="btn btn-success btnLoad">
                  <i class="fa fa-save"></i> Modificar
               </button>
               <button type="button" class="btn btn-secondary btnCancelar">
                  <i class="fa fa-times"></i> Cancelar
               </button>
            </div>
            <span class="text-danger msg"></span>
         </form>
      </div>
   </div>
</div>

<!-- ROL Delete -->
<div th:fragment="Delete" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-danger">
         <h4 class="modal-title" style="color: white;">Eliminar Registro</h4>
         <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
         <form>
            <div class="text-center text-danger">Estas a punto de eliminar el registro de <b id="dato"></b>.<br> ¿Estas
               seguro que deseas hacerlo?</div>
            <hr>
            <div class="form-group text-right">
               <button type="button" class="btn btn-danger" id="btnEliminar">
                  <i class="fas fa-trash-alt"></i></i> Eliminar
               </button>
               <button type="button" class="btn btn-secondary btnCancelar">
                  <i class="fa fa-times"></i> Cancelar
               </button>
            </div>
            <span class="text-danger msg"></span>
         </form>
      </div>
   </div>
</div>

<!-- modal-dialog-centered CENTRAL MODAL -->
<div th:fragment="View" class="modal-dialog ">
   <!-- The Modal -->
   <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header bg-primary">
         <h4 class="modal-title tituloModal" style="color: white;">Cliente</h4>
         <button type="button" class="close" data-dismiss="modal" style="color: white;">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
            <label> Nombre: </label>
            <div class="input-group mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="hidden" id="id2">
               <input type="text" id="username2" class="form-control border-left-0" readonly>
            </div>
            <label> Direccion: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="direccion2" class="form-control border-left-0" readonly>
            </div>
            <label> Departamento: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="departamento2" class="form-control border-left-0" readonly>
            </div>
            <label> Dui: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="dui2" class="form-control border-left-0" readonly>
            </div>
            <label> Giro: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="giro2" class="form-control border-left-0" readonly>
            </div>
            <label> Nit: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="nit2" class="form-control border-left-0" readonly>
            </div>
            <label> Nrc: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="nrc2" class="form-control border-left-0" readonly>
            </div>
            <label> Telefono: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="telefono2" class="form-control border-left-0" readonly>
            </div>
            <label> Fecha ingreso: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="fechaIngreso2" class="form-control border-left-0" readonly>
            </div>
            <label> Fecha modificacion: </label>
            <div class="input-group  mb-2">
               <span class="input-group-append bg-white border-left-0">
                  <span class="input-group-text bg-transparent">
                     <i class="fa fa-user"></i>
                  </span>
               </span>
               <input type="text" id="fechaModificacion2" class="form-control border-left-0" readonly>
            </div>
            <hr>
            <div class="form-group text-right">
               <!-- <button type="submit" class="btn btn-success btnLoad">
                  <i class="fa fa-save"></i> Modificar
               </button> -->
               <button type="button" class="btn btn-secondary btnCancelar">
                  <i class="fa fa-times"></i> Cerrar
               </button>
            </div>
            <span class="text-danger msg"></span>
      </div>
   </div>
</div>